*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-width: 100vw;
    min-height: 100vh;
}

.header{
    padding: 25px;
    background: rgb(255, 60, 60);
    background: linear-gradient(90deg, rgba(255,75,75,1) 0%, rgba(255,60,60,1) 33%, rgba(255,45,45,1) 66%, rgba(255,35,35,1) 100%);
    text-align: center;
    color: #fff;
    font-family: 'Popins',sans-serif;
    position: fixed;
    width: 100vw;
    top: 0;
    box-shadow: 0px 0px 5px 1px rgba(82,80,80,0.151);
}

.header__nav {
    position: absolute;
    top: 31px;
}

.nav__container {
    display: flex;
    gap: 15px;
}

.nav__container > li {
    display: inline-block;
}

.nav__container > li > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: inline-block;
    transition: .3s;
    border-radius: 2px;
    padding: 3px 8px;
}


.nav__container > li > a:hover {
    background-color: rgb(185, 61, 61);
}

.main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    margin-top: 140px;
    font-family: 'Opens sans',sans-serif;
}

.main_section{
    width:90%;
    display:flex;
    padding: 20px 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px rgba(82,80,80,0.151);
    margin-bottom: 50px;
}

.section_info{
    display:flex;
    padding-left: 40px;
    padding-right: 70px;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}



.grafica__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grafica__container canvas {
    height: 400px;
}


.graficaT__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.graficaT__container canvas {
    height: 400px;
}

.select {
    text-align: center;
    font-weight: bold;
    background-color: rgb(255, 60, 60);
    color: white;
    border-radius: 3px;
    border: none;
    padding: 5px 10px;
    outline: none;
    transition: .2s;
}

.select:hover {
    background-color: rgba(255, 60, 60, 0.816);
    color: white;
    border-radius: 3px;
    border: none;
    padding: 5px 10px;
    outline: none;
}

.section_title {
    font-size: 1.5rem;
    text-align: center;
    border-left: 3px solid rgba(255, 60, 60, 0.816);
}

.section_paragraph{
    margin-top:10px;
    margin-bottom:10px;
    font-size: .9rem;
    line-height: 1.3rem;
    color: rgba(82,80,80);
}


.section_link{
    display:inline-block;
    padding: 5px 7px;
    margin-top:5px;
    text-decoration: none;
    text-align: center;
    background-color: #000;
    color: #fff;
    border-radius: 7px;
    font-size: .7rem;
    font-weight: bold;


}

.section_link:hover{
    background-color: #fff;
    color:#000;
    border: 1px solid black;
    transition:.2s;

}

.btn--volver {
    margin-bottom: 30px;
    padding: 10px 30px;
}

@media screen and (max-width: 500px){
    .main_section{
        text-align: center;
        flex-wrap: wrap;
        padding-bottom: 10px;
    }

    .section_title{
        min-width: 100%;
    }

    .section_info{
        padding: 10px;
        font-size: .9rem;

    }

    .section_link{
        margin: 0 auto;
        margin-top: 10px;

    }
}