*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    min-width: 100vw;
}

.header{
    padding: 25px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background: rgb(10, 195, 255);
    background-color: linear-gradient(deg 90, rgb(10,180,255) 0%, rgb(10,160,255) 33%, rgb(10,140,255) 66%, rgb(10,130,255) 100%);
    color:#fff;
    position: fixed;
    width: 100vw;
    top: 0;
    box-shadow: 0px 0px 5px 1px rgba(82,80,80,0.151);
    font-family: 'Popins',sans-serif;
}

.header__nav {
    position: absolute;
    top: 31px;
}

.nav__container {
    display: flex;
    gap: 15px;
}

.nav__container > li {
    display: inline-block;
}

.nav__container > li > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: inline-block;
    transition: .3s;
    border-radius: 2px;
    padding: 3px 8px;
}


.nav__container > li > a:hover {
    background-color: rgb(10, 194, 255);
}

.main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    font-family: 'Oppens-sans', sans-serif;
    margin-top: 140px;
}

.main_section{
    max-height: 600px;
    padding: 10px;
    /* padding-bottom: 20px; */
    display:flex;
    justify-content: center;
    flex-wrap:nowrap;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 5px 1px rgba(80,80,80,0.151);
    margin-bottom: 50px;

}

.main_section > video {
    height: 100%;
    width: 100%;
}



.section_title {
    text-align: center;
    width: 100%;
}


@media screen and (max-width: 500px){
    .main_section{
        padding-bottom:10px;
        text-align: center;
        flex-wrap:wrap;

    }

    .section_title{
        min-width: 100%;
    }

    .section_info{
        padding: 10px;
        font-size: .9rem;

    }

    .section_link{
        margin:0 auto;
        margin-top: 10px

    }
}